body {
    font-family: Helvetica Neue, sans-serif;
    background: #444 url(images/bg_body.png);
    background-attachment: Fixed;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    color: black;
    text-align: center;
}

.wrap {
    margin: 0 auto;
    width: 970px;
    display: flex;
}

.main-body {
    width: 790px;
    background: #9c9c9c;
}

.sidebar {
    width: 140px;
    padding: 20px;
    background: #979797;
    flex-shrink: 0; /* Prevents sidebar from shrinking */
    border-left: 1px solid #8f8f8f;
}

.sidebar-item ul li {
    padding: 0, 0, 0, 15%;
}

.sidebar-item a {
    color: #40659b;
    font-size: 17px;
}

.sidebar-item a:hover {
    background: rgba(255, 255, 0, 0.2);
}

.changelog-item {
    display: list-item;
    margin-left: 2em;
    size: 15px;
    color: black;
}

.comic-list {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.comic-list a {
    flex: 0 0 30%;
    text-align: center;
    color: #40659b;
}

.comic-content {
    color: black;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
}

.comic-content a {
    color: #40659b;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}